<div class="customInput">
    <header-component header="Custom Input">
    </header-component>

    <form name="inputForm">
    <md-content class='inputDiv' >
        <md-input-container ng-repeat="input in vm.inputs" >
            <label>{{input.label}}</label>
            <input min="1" type="{{input.type}}" name="{{input.inputName}}" ng-model=input.model>
        </md-input-container>
    </md-content>
        <md-button class="md-raised md-primary" ng-click="vm.inputFunction()">Submit</md-button>
    </form>

    <footer-component>
    </footer-component>
</div>
